{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Arduino Receiver Server</title>

	<script>
		{% if request.user.id is not None %}
		const user_id = {{request.user.id}}
		{% else %}
		const user_id = undefined
		{% endif %}
	</script>

	<style>
		html {
			font-size: 24px;
		}
		button, input{
			font-size: 24px;
		}
		table td.pad {
			padding-right: 50px;
		}
		table td {
			min-width: 200px;
		}
	</style>

</head>
<body>
	<h1>Blinds Control System</h1>

	{% if request.user.id is not None %}

	<div>
		<h3>Connect to your device</h3>
		<label for="token">Your TOKEN</label>
		<input type="text" name="token" id='token'>
		<button id="connect">Connect</button>
	</div>

	<div>
		<h3>Control Panel</h3>
		<div>
			<table>
				<tr>
					<td class="pad">
						
					</td>
					<td>
						Connect Interface
					</td>
					<td>
						Connect RPI
					</td>
					<td>
						User controll
					</td>
				</tr>
				<tr>
					<td class="pad">
						Status:
					</td>
					<td id="sconnect">
					</td>
					<td id="sconnectrpi">
					</td>
					<td id="usercontroll">
					</td>
				</tr>

			</table>
		</div>

		<button id='reverseAutoControl'>Change Control Type</button>
		<button id='open'>Open</button>
		<button id='close'>Close</button>
	</div>

	<script src="{% static 'app.js' %}{{nocache}}"></script>
	{% else %}

	<a href="/admin">Log in</a>

	{% endif %}
</body>
</html>